In [152]:
import pandas as pd
import numpy as np
import ast

In [153]:
movies = pd.read_csv(r"C:/Users/lenovo/OneDrive/Desktop/movies_metadata.csv", low_memory=False)


credits=pd.read_csv(r"C:/Users/lenovo/OneDrive/Desktop/credits.csv", low_memory=False)
keywords=pd.read_csv(r"C:/Users/lenovo/OneDrive/Desktop/keywords.csv", low_memory=False)

In [154]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [155]:
credits.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [156]:
keywords.head()

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

In [157]:
movies['id'] = pd.to_numeric(movies['id'], errors='coerce').fillna(0).astype(int)
credits['id'] = pd.to_numeric(credits['id'], errors='coerce').fillna(0).astype(int)
keywords['id'] = pd.to_numeric(keywords['id'], errors='coerce').fillna(0).astype(int)
# Now merge the datasets
movies = movies.merge(credits, on='id', how='left').merge(keywords, on='id', how='left')

In [158]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46632 entries, 0 to 46631
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  46632 non-null  object
 1   belongs_to_collection  4577 non-null   object
 2   budget                 46632 non-null  object
 3   genres                 46632 non-null  object
 4   homepage               8012 non-null   object
 5   id                     46632 non-null  int64
 6   imdb_id                46615 non-null  object
 7   original_language      46621 non-null  object
 8   original_title         46632 non-null  object
 9   overview               45637 non-null  object
 10  popularity             46626 non-null  object
 11  poster_path            46233 non-null  object
 12  production_companies   46628 non-null  object
 13  production_countries   46628 non-null  object
 14  release_date           46544 non-null  object
 15  revenue                46625 non-null  float64
 16  runtime                46361 non-null  float64
 17  spoken_languages       46625 non-null  object
 18  status                 46543 non-null  object
 19  tagline                20783 non-null  object
 20  title                  46625 non-null  object
 21  video                  46625 non-null  object
 22  vote_average           46625 non-null  float64
 23  vote_count             46625 non-null  float64
 24  cast                   46628 non-null  object
 25  crew                   46628 non-null  object
 26  keywords               46628 non-null  object
dtypes: float64(4), int64(1), object(22)
memory usage: 9.6+ MB

In [159]:
movies=movies[['genres','id','cast','crew','title','keywords']]
movies.head()

,genres,id,cast,crew,title,keywords
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",Toy Story,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",Jumanji,"[{'id': 10090, 'name': 'board game'}, {'id': 1..."
2,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",Grumpier Old Men,"[{'id': 1495, 'name': 'fishing'}, {'id': 12392..."
3,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",Waiting to Exhale,"[{'id': 818, 'name': 'based on novel'}, {'id':..."
4,"[{'id': 35, 'name': 'Comedy'}]",11862,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",Father of the Bride Part II,"[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n..."

In [160]:
movies.dropna(inplace=True)
movies.isnull().sum()

genres      0
id          0
cast        0
crew        0
title       0
keywords    0
dtype: int64

In [161]:
print(movies.duplicated().sum())  # Count duplicates

1188

In [162]:
movies = movies.drop_duplicates(subset=['title'])

In [163]:
print(movies.duplicated().sum())  # Count duplicates

0

In [164]:
def convert(obj):
    L=[]
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [165]:
movies['genres']=movies['genres'].apply(convert)

In [166]:
movies['keywords']=movies['keywords'].apply(convert)

In [167]:
import ast

def convert3(obj):
    L = []
    counter = 0
    for i in ast.literal_eval(obj):  # Replace 'text' with 'obj'
        if counter != 3:
            L.append(i['name'])
            counter += 1
    return L

In [168]:
movies['cast'] = movies['cast'].apply(convert3)
movies.head()

,genres,id,cast,crew,title,keywords
0,"[Animation, Comedy, Family]",862,"[Tom Hanks, Tim Allen, Don Rickles]","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",Toy Story,"[jealousy, toy, boy, friendship, friends, riva..."
1,"[Adventure, Fantasy, Family]",8844,"[Robin Williams, Jonathan Hyde, Kirsten Dunst]","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",Jumanji,"[board game, disappearance, based on children'..."
2,"[Romance, Comedy]",15602,"[Walter Matthau, Jack Lemmon, Ann-Margret]","[{'credit_id': '52fe466a9251416c75077a89', 'de...",Grumpier Old Men,"[fishing, best friend, duringcreditsstinger, o..."
3,"[Comedy, Drama, Romance]",31357,"[Whitney Houston, Angela Bassett, Loretta Devine]","[{'credit_id': '52fe44779251416c91011acb', 'de...",Waiting to Exhale,"[based on novel, interracial relationship, sin..."
4,[Comedy],11862,"[Steve Martin, Diane Keaton, Martin Short]","[{'credit_id': '52fe44959251416c75039ed7', 'de...",Father of the Bride Part II,"[baby, midlife crisis, confidence, aging, daug..."

In [169]:
movies['cast'] = movies['cast'].apply(lambda x:x[0:3])

In [170]:
import ast
ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [171]:
def fetch_director(text):
    L = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            L.append(i['name'])
    return L

In [172]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [173]:
movies.head()

,genres,id,cast,crew,title,keywords
0,"[Animation, Comedy, Family]",862,"[Tom Hanks, Tim Allen, Don Rickles]",[John Lasseter],Toy Story,"[jealousy, toy, boy, friendship, friends, riva..."
1,"[Adventure, Fantasy, Family]",8844,"[Robin Williams, Jonathan Hyde, Kirsten Dunst]",[Joe Johnston],Jumanji,"[board game, disappearance, based on children'..."
2,"[Romance, Comedy]",15602,"[Walter Matthau, Jack Lemmon, Ann-Margret]",[Howard Deutch],Grumpier Old Men,"[fishing, best friend, duringcreditsstinger, o..."
3,"[Comedy, Drama, Romance]",31357,"[Whitney Houston, Angela Bassett, Loretta Devine]",[Forest Whitaker],Waiting to Exhale,"[based on novel, interracial relationship, sin..."
4,[Comedy],11862,"[Steve Martin, Diane Keaton, Martin Short]",[Charles Shyer],Father of the Bride Part II,"[baby, midlife crisis, confidence, aging, daug..."

In [174]:
movies['genres']=movies['genres'].apply(lambda x:[i.replace(" ","")for i in x])
movies['keywords']=movies['keywords'].apply(lambda x:[i.replace(" ","")for i in x])
movies['cast']=movies['cast'].apply(lambda x:[i.replace(" ","")for i in x])
movies['crew']=movies['crew'].apply(lambda x:[i.replace(" ","")for i in x])

In [175]:
import pandas as pd
import numpy as np
import torch
import torch.nn as nn
import torch.optim as optim
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics.pairwise import cosine_similarity


df = movies[['id', 'title', 'genres', 'cast', 'crew', 'keywords']].copy()

# Encodeing categorical features into numbers
label_encoders = {}
for col in ['genres', 'cast', 'crew', 'keywords']:
    label_encoders[col] = LabelEncoder()
    df[col] = label_encoders[col].fit_transform(df[col].astype(str))

# Normalizing movie_id
df['id'] = df['id'] / df['id'].max()

#  data to PyTorch tensors
X = torch.tensor(df[['id', 'genres', 'cast', 'crew', 'keywords']].values, dtype=torch.long)

#  PyTorch model
class MovieEmbeddingModel(nn.Module):
    def __init__(self, num_movies, num_genres, num_cast, num_crew, num_keywords, embedding_dim=50):
        super(MovieEmbeddingModel, self).__init__()
        self.movie_embed = nn.Embedding(num_movies, embedding_dim)
        self.genre_embed = nn.Embedding(num_genres, embedding_dim)
        self.cast_embed = nn.Embedding(num_cast, embedding_dim)
        self.crew_embed = nn.Embedding(num_crew, embedding_dim)
        self.keyword_embed = nn.Embedding(num_keywords, embedding_dim)

        self.fc = nn.Sequential(
            nn.Linear(embedding_dim * 5, 256),
            nn.ReLU(),
            nn.Linear(256, 128),
            nn.ReLU(),
            nn.Linear(128, 1)  # Final embedding size
        )

    def forward(self, x):
        movie_vec = self.movie_embed(x[:, 0])
        genre_vec = self.genre_embed(x[:, 1])
        cast_vec = self.cast_embed(x[:, 2])
        crew_vec = self.crew_embed(x[:, 3])
        keyword_vec = self.keyword_embed(x[:, 4])

        concat_vec = torch.cat((movie_vec, genre_vec, cast_vec, crew_vec, keyword_vec), dim=1)
        return self.fc(concat_vec)

#  number of unique categories
num_movies = len(df['id'].unique())
num_genres = len(df['genres'].unique())
num_cast = len(df['cast'].unique())
num_crew = len(df['crew'].unique())
num_keywords = len(df['keywords'].unique())

# Initializing model
model = MovieEmbeddingModel(num_movies, num_genres, num_cast, num_crew, num_keywords)
criterion = nn.MSELoss()
optimizer = optim.Adam(model.parameters(), lr=0.001)

# Train model
num_epochs = 10
for epoch in range(num_epochs):
    optimizer.zero_grad()
    outputs = model(X)
    loss = criterion(outputs, X[:, 0].float().view(-1, 1))  # Ensures correct shape

    loss.backward()
    optimizer.step()
    print(f"Epoch {epoch+1}/{num_epochs}, Loss: {loss.item()}")


movie_embeddings = model(X).detach().numpy()

# Computing similarity using Nearest neighbours
from sklearn.neighbors import NearestNeighbors

knn = NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=10)
knn.fit(movie_embeddings)


def recommend(movie_name, df, movie_embeddings, knn):
    if movie_name not in df['title'].values:
        return "Movie not found in dataset."

    index = df[df['title'] == movie_name].index[0]  # Get the index of the movie
    distances, indices = knn.kneighbors([movie_embeddings[index]], n_neighbors=11)  # Use embeddings, not model

    recommendations = [df.iloc[i].title for i in indices[0][1:]]  # Exclude itself
    return recommendations



movie_name = "Inception"
recommendations = recommend(movie_name, df, movie_embeddings, knn)  # Pass embeddings, not model
print(recommendations)

Epoch 1/10, Loss: 0.01757293939590454
Epoch 2/10, Loss: 0.030472347512841225
Epoch 3/10, Loss: 0.0131775988265872
Epoch 4/10, Loss: 0.0022263654973357916
Epoch 5/10, Loss: 0.005909324157983065
Epoch 6/10, Loss: 0.009255414828658104
Epoch 7/10, Loss: 0.006918091792613268
Epoch 8/10, Loss: 0.003029033774510026
Epoch 9/10, Loss: 0.0010127596324309707
Epoch 10/10, Loss: 0.0012439858401194215
['Jumanji', 'Grumpier Old Men', 'Waiting to Exhale', 'Father of the Bride Part II', 'Heat', 'Sabrina', 'Tom and Huck', 'Desirable', 'GoldenEye', 'The American President']